body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  margin: 10px;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

img {
  margin: 10px;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.buttons {
  top: 0%;
  animation: show 700ms ease-in-out;
  margin: 10px;
}

.buttons-main {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: show 700ms ease-in-out;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

